div.projects-section {
  position: absolute;
  background-color: #1b3752;
  padding: 2% 0 0 0;
}

div.projects-section h2 {
  text-align: center;
  letter-spacing: 0.6rem;
  font-size: 28px;
  color: #fff;
  width: 100vw;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  justify-items: center;
  padding-bottom: 3%;
}

.proj-card {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 330px;
  margin-top: 10%;
  box-shadow: 0 14px 28px rgb(0 0 0 / 90%), 0 10px 10px rgb(0 0 0 / 90%);
}

.proj-img {
  max-width: 330px;
  display: block;
}

.proj-card .proj-description {
  padding: 1% 7%;
}

.proj-card h3 {
  text-align: center;
  font-weight: 600;
  color: #1b3752;
  font-size: 20px;
}

.proj-card h6 {
  padding: 1% 5%;
  color: grey;
}

.proj-card p {
  font-size: 14px;
}

.proj-card .links {
  display: flex;
  justify-content: space-between;
  padding: 6% 6%;
}

.proj-card .links a {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
}

#contact {
  background-color: #fff;
}

#contact h2 {
  color: #1b3752;
  padding: 2% 0;
}

#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact div p {
  text-align: center;
  font-size: 18px;
}

#contact div div.contact-links {
  display: flex;
  flex-direction: row;
}

#contact div div.contact-links a {
  padding: 1% 2%;
}

#contact div div.contact-links a svg {
  font-size: 50px;
  color: #1b3752;
}
