div.projects-section {
  position: absolute;
  background-color: #1b3752;
  padding: 2% 0;
}

div.projects-section h2 {
  text-align: center;
  letter-spacing: 0.6rem;
  font-size: 28px;
  color: #fff;
  width: 100vw;
}
