footer {
  background-color: #1b3752;
  margin: 0;
  padding: 2% 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer h3,
footer p {
  margin-top: 0;
  text-align: center;
}
